<footer class="my-5">
        <div class="col">
            <hr class="mt-5">
        </div>

        <div class="container bg-dark rounded my-auto">
            <div class="row">
                <div class="col mr-5 text-left footer_co_policy">
                    <a href="#"> About us</a>
                    <br>
                    <a href="#"> Shipping Arrangement</a>
                    <br>
                    <a href="#"> Delivery Schedule</a>
                    <br>
                    <a href="#"> Privacy policy</a>
                    <br>
                    <a href="#"> Join us</a>
                    <br>
                </div>
                <div class="col mr-5 text-left footer_message_us">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1" class="text-white">Message us</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            <input type="submit" value="Submit">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </footer>
    {{!-- end of footer  --}}