<header class="my-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top text-uppercase border-bottom">
        <!-- Navigation :fixed top  -->
        <div class="d-flex flex-row">
            <a class="navbar-brand ml-5 " href="/"><i class="fas fa-3x fa-beer"></i></a>
            <a class="navbar-brand h1 mx-auto my-auto" href="/">
                <h1 class="h1 font-weight-bolder">BEST BEER</h1>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown mr-5 my-auto">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/company_info">About us</a>
                            <a class="dropdown-item" href="/company_promotion">Promotion</a>
                            {{!-- Create news --}}
                        </div>
                    </div>
                </li>
                <li class="nav-item dropdown mr-5 my-auto">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Beers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{!-- Create out product list --}}
                            <a class="dropdown-item" href="/menu_page">Menu</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item active mr-5">
                    <a class="nav-link font-weight-bolder" href="/logout"><i class="fa-2x fas fa-sign-out-alt"></i>Log out</a>
                </li>
                <li class="nav-item active mr-5">
                    <a class="nav-link" href="/myCart_showList"><i class="fas fa-2x fa-shopping-cart"></i>My Cart</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- end of navbar -->