<section class="secondary">
    <div class="row">
        <div class="col">
            <p class="text-left">About Us:</p>
        </div>
    </div>
    <div class="container rounded bg-secondary">
        <div class="row d-flex justify-content-between">
            <div class="col-8 ">
                <img src="/asset/beer1.png" class="rounded float-left" style="width: 400px;" alt="company image">
            </div>
            <div class="col-4 mr-5  my-auto text-left text-white">
                <div class="row">
                    Founded in 2020
                </div>
                <div class="row">
                    Three friends teamed up
                    to make craft beer with unique
                    flavour !
                </div>
                <div class="row">
                    All of our cans are 100% recyclable.
                </div>
            </div>
        </div>
    </div>
    <!-- end of company's info -->
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <p class="text-left">Find Us:</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4032.1932989143106!2d114.18922105741045!3d22.303613572722302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404011fc42f1b4f%3A0x17358f145243a912!2sThe%20Harbourfront%20Landmark!5e0!3m2!1sen!2shk!4v1591895356905!5m2!1sen!2shk"
                    width="50%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </div>
</section>