<section class="secondary">
    <div class="container">
        <div class="row">
            <div>

            </div>
        </div>
        <div class="row d-flex flex-wrap">
            <div class="col-sm-12 col-lg-4">
                <img src="/asset/beer1.png" class="img-fluid rounded float-left" style="height: auto;"
                    alt="company image">
            </div>
            <div class="col-sm-12 col-lg-4 mt-3 my-auto text-left">
                <p class="h2">About Us:<br></p>
                <p>In 2020 .... three friends teamed up to make 100% recyclable craft
                    beer with unique flavour !
                </p>
            </div>
        </div>
        <div class="row d-flex flex-wrap pt-2">
            <div class="col-sm-12 col-lg-4">
                <img src="/asset/delivery.jpeg" class="img-fluid rounded float-left" style="height: auto;" alt="">
            </div>
            <div class="col-sm-12 col-lg-6 mt-5 my-auto">
                <p class="text-dark text-left h3">Pick up/Shipping Arrangment:</p>
                <div class="row">
                    <div class="col-6">
                        <div class="list-group" id="list-tab" role="tablist">
                            <a class="list-group-item list-group-item-action active" id="pick_up_list"
                                data-toggle="list" href="#pick_up" role="tab" aria-controls="home">Self-pick up
                            </a>
                            <a class="list-group-item list-group-item-action" id="shipping_list1" data-toggle="list"
                                href="#shipping_oversea" role="tab" aria-controls="profile">Shipping to Oversea</a>
                            <a class="list-group-item list-group-item-action" id="shipping_list2" data-toggle="list"
                                href="#shipping_local" role="tab" aria-controls="messages">Shipping to Local</a>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="pick_up" role="tabpanel"
                                aria-labelledby="pick_up_list">
                                <p class="text-left">People who ordered online can directly go to our store
                                    to pick up the beer. Please pick up within 72 hours, otherwise we will charge HKD
                                    $50 per days
                                    To find us, please follow the location below.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="shipping_oversea" role="tabpanel"
                                aria-labelledby="shipping_list1">
                                <p class="text-left">Shipping to oversea is available here. All you have to do is to go
                                    to order here , select your address, indicate
                                    the details of your shipment, and pay for the service. All you will need to do then
                                    is to pack your parcel and we will do all the rest.</p>
                            </div>
                            <div class="tab-pane fade" id="shipping_local" role="tabpanel"
                                aria-labelledby="shipping_list2">
                                <p class="text-left">For local people, we will deliver your order by SF Express. All you
                                    need to is select your address or input the SF pick up location's code. Then pay for
                                    the serivce</p>
                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <!-- end of company's info -->
            <div class="container mt-5">
                <div class="row">
                    <p class="text-left">Find Us:</p>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <iframe class="responsive-iframe"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4032.1932989143106!2d114.18922105741045!3d22.303613572722302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3404011fc42f1b4f%3A0x17358f145243a912!2sThe%20Harbourfront%20Landmark!5e0!3m2!1sen!2shk!4v1591895356905!5m2!1sen!2shk"
                            width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
</section>
