 <section class="secondary">
        <div class="container rounded bg-secondary">
            <div class="row d-flex justify-content-between">
                <div class="col-6 ">
                    <div class="col"><img src="asset/beer3.png" alt="company img"
                            class="d-block justify-content-start img-fluid" style="width: inherit;"></div>

                </div>
                <div class="col-4 mr-5  my-auto text-left text-white">
                    <div class="row">
                        Create an account &
                        get 10% discount for your
                        first buy !
                    </div>
                    <div class="row">
                        Leave a comment/review
                        & get 10% discount on
                        your next purchase !
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- end of promotion div -->

    </section>
