<section class="secondary">
    <div class="container">
        <div class="d-flex flex-column">
            <div class="row">
                <p class="text-left h2">Registered Address</p>
            </div>
            <br>
            {{#each data}}
            <div class="d-inline-flex justify-content-start " id="registered_address">
                <i class="fas fa-2x fa-arrow-circle-right my-auto pt-1"></i>
                <input class="form-control" type="text" placeholder="{{address}}" readonly>
            </div>
            {{/each}}
            <br>
        </div>
    </div>
</section>

<div class="container pb-5"> <a href="/checkout/payment"
        class="text-white btn-lg btn-primary btn-block text-center rounded" type="button">Proceed to Payment
    </a></div>