<section class="ad_login_section secondary">
    <!-- section css : margin ! -->
    <div class="container">
        <div class="d-flex ">
            <div class=" d-none d-md-block  col-lg-4 promotion-col bg-secondary rounded text-white">

                <p class="text-left text-center">Promotion</p>

                <br>
                <p class="text-center">1. buy up to $150 get free delievery </p>
                <br>
                <p class="text-center">2. Share our promotion get 20% off</p>
                <br>
                <p class="text-center">3. Follow our page</p>

                <br>
            </div>

            {{!-- end of promotion section --}}

            <div class="col-sm-12 col-md-5 col-lg-5 login-col text-center ">
                <p class="col text-center"><u>Login Here</u></p>
                <br>
                <form class="users_login" action="/login" method="POST">
                    <div class="form-group">
                        <label for="text_username">User name</label>
                        <input name='username' type="text" placeholder="User Name/Email">
                    </div>
                    <div class="form-group">
                        <label for="user_InputPassword1">Password</label>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div id="row-submit">
                        <input type="submit" value="submit" />
                    </div>
                </form>
                <br>
                <a href="/auth/facebook" class="btn-lg btn-primary text-left" type="button">Login
                    as
                    facebook account <i class="fab fa-facebook"></i></a>

                <br>

                <a href="/auth/google" class="btn-lg btn-primary text-left" type="button" role="submit">Login
                    as google account <i class="fab fa-google"></i></a>
            </div>
        </div>
    </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

{{!-- <script type='text/javascript'> --}}
    {{!-- $('.users_login').submit(function (event) {
        event.preventDefault();
        var user = event.target.name.value;
        var pw = event.target.password.value;
        if (user === '' || user.length < 1 || user.length > 20) {
            $("input:eq(0)").css("border", "red solid 2px");
            alert(`Input your right ID`)
        } else if (pw === '' || pw.length > 15) {
            $("input:eq(1)").css("border", "red solid 2px");
            alert(`input your password`)
        } else {
            $("input:eq(0)").css("border", "");
            $("input:eq(1)").css("border", "");
            alert(`welcome back ${user}`)
        }
    }); --}}
{{!-- </script> --}}
