<section class="ad_login_section secondary">
    <!-- section css : margin ! -->
    <div class="container mt-1 pt-1">
        <div class="row">
            <div class="col-sm-12 col-lg-4 promotion-col float-left bg-secondary rounded text-white">
                <div class="row mt-5 mx-auto">
                    <div class="col text-center">Promotion</div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <p class="text-center">1. buy up to $150 get free delievery </p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <p class="text-center">2. Share our promotion get 20% off</p>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col text-center">
                        <p class="text-center">3. Follow our page</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-sm-0 col-lg-2"></div>
            {{!-- end of promotion section --}}

            <div class="col-sm-12 col-lg-5 text-center">
                <div class="row ">
                    <div class="row mt-5 mx-auto">
                        <div class="col text-center">To Login Please Click</div>
                    </div>
                    <br>
                    <div class="row mt-5 mx-auto">
                        <div class="col text-center">
                            <button type="button" class="btn btn-outline-success h2 text-center"><a href="/login_input"
                                    style="color: green;">HERE</a></button>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="row mt-5 mx-auto">
                        <div class="col text-center">
                            or
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row mt-5 mx-auto">
                        <div class="col text-center">To Register Please Click</div>
                    </div>
                    <br>
                    <div class="row mt-5 mx-auto">
                        <div class="col text-center">
                            <button type="button" class="btn btn-outline-danger h2 text-center"><a href="/user_registration"
                                    style="color: red;">HERE</a></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>