<section class="ad_login_section secondary">
    <!-- section css : margin ! -->
    <div class="container">
        <div class="d-flex ">
            <div class=" d-none d-md-block  col-lg-4 promotion-col bg-secondary rounded text-white">

                <p class="text-left text-center">Promotion</p>

                <br>
                <p class="text-center">1. buy up to $150 get free delievery </p>
                <br>
                <p class="text-center">2. Share our promotion get 20% off</p>
                <br>
                <p class="text-center">3. Follow our page</p>

                <br>
            </div>

            {{!-- end of promotion section --}}

            <div class="col-sm-12 col-md-5 col-lg-5 login-col text-center ">
                <p class="col text-center"><u>Login Here</u></p>

                <br>
                <form>
                    <div class="form-group">
                        <label for="text_username">User name</label>
                        <input class="form-control" type="text" placeholder="User Name" id="text_username">

                    </div>
                    <div class="form-group">
                        <label for="user_InputPassword1">Password</label>
                        <input type="password" class="form-control" id="user_InputPassword1">
                    </div>
                    <a class="btn btn-primary" href="/user_account-details" role="button">Submit</a>

                </form>
                <br>

                <button type="button" class="btn btn-primary text-left" value="value" id="login_btn__fb">Login
                    as
                    facebook account <i class="fab fa-facebook"></i></button>

                <br>
                <button type="button" class="btn btn-light text-left " value="value" id="login_btn__gle">Login
                    as google account <i class="fab fa-google"></i></button>
            </div>
        </div>
    </div>
    </div>
</section>