<div class="content-section row secondary col-8 d-flex mx-auto" id="section1">
    {{#each beer}}
    <div class="col-sm-12 col-md-12 col-lg-4 d-inline-flex mb-3">
        <div class="card" style="width: 25rem;">
            <div class="card-header align-middle">
                <h5 class="card-title text-center h2">{{beer_name}}</h5>
            </div>
            <div class="col justify-content-end">
                <a type="button" class="btn" id="wish_btn1" data-toggle="tooltip" data-placement="top"
                    title="Add to Favourites"><i class="far fa-2x fa-star"></i></a>
            </div>
            <div class="row">
                <div class="col d-inline-flex">
                    <a href="/beer/{{id}}" class="a_home_product mx-auto"><img
                            class="card-img-top mx-auto d-block products__img" src="/{{thumbnail}}" alt="Card image cap"
                            style="width: 200px; "> </a>
                    {{!-- add animate on the img ** --}}
                </div>
            </div>

            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">330 ML</li>
                    <li class="list-group-item text-center">$ {{price}}</li>
                </ul>
                <div class="row justify-content-center">
                    <form class="form-inline">
                        <label class="mx-1 mr-2 text-center" for="inlineFormCustomSelectPref">Order
                            here</label>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                            <option selected>Cans</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-primary my-1">Buy</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    </div>