<div class="content-section row secondary" id="section1">
    {{#each beer}}
    <div class="col-sm-12 col-md-4 col-lg-4 d-inline-flex justify-content-center">
        <div class="card" style="width: 25rem;height: 50rem;">
            <div class="row">
                <div class="col d-inline-flex">
                    <a href="/beer/{{id}}" class="a_home_product mx-auto"><img
                            class="card-img-top mx-auto d-block products__img" src="{{thumbnail}}"
                            alt="Card image cap" style="width: 200px; "> </a>
                    {{!-- add animate on the img ** --}}
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title text-center h2">{{beer_name}}</h5>
                <p class="card-text text-center h4">330 ML </p>
                <br>
                <p class="card-text text-center h4">$ {{price}}</p>
                <br>
                <div class="row justify-content-center">
                    <form class="form-inline ">
                        <label class="mx-1 mr-2 text-center" for="inlineFormCustomSelectPref">Order
                            here</label>
                        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
                            <option selected>Cans</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </form>
                </div>
                <div class="row justify-content-center mt-5"><button type="submit"
                        class="btn btn-primary my-1">Buy</button></div>
            </div>
        </div>
    </div>
    {{/each}}
</div>