<section class="secondary">
    <div class="col-8 offset-2">
        <section id="confirm_div">
            <div class="container secondary">
                <div class="col-8 text-center">
                    <div class="d-flex flex-column ">
                        <div class="d-flex justify-content-between">
                            <p class="h4"></p>
                            <p class="h4" id="#"></p>
                        </div>
                        <div class="col mt-2" id="code_entered"></div>
                        <div class="d-flex justify-content-between">
                            <p class="h4"></p>
                            <p class="h4" id="delivery_fee"></p>
                        </div>
                        <small class="text-muted text-right"> </small>
                        <br>
                        <div class="d-flex justify-content-between">
                            <p class="h1 text-uppercase">We have sent a receipt to your email.</p>
                            </p>

                        </div>
                        <div class="row">
                            <p class="text-left h2"></p>
                        </div>
                        <br>
                        <div class="d-inline-flex justify-content-start " id="registered_address">


                        </div>
                    </div>
                </div>
            </div>

        </section>

        <div class="container">
            <a href="/user/purchase_history" class="text-white btn-lg btn-primary btn-block text-center rounded"
                type="button">Okay
            </a>
        </div>
    </div>
</section>