<script src="https://js.stripe.com/v3/"></script>
<section class="secondary">
    <div class="container">
        <div class="d-flex flex-column mb-5">

            <p class="h1 text-center">Payment confirm</p>
            <br>
            <div class="d-flex justify-content-around border-bottom">
                <p class="h4">Click to pay with your credit card</p>
            </div>

        </div>
        <div class="container">
            <div class="d-flex justify-content-center ">
                <div class="col">
                    <a href="/homepage" class="text-white btn-lg btn-secondary btn-block text-center rounded"
                        type="button">Cancel
                    </a>
                </div>
                <div class="col">
                    <button class="text-white btn-lg btn-primary btn-block text-center rounded"
                        onclick="checkoutBeers()" />Pay Now
                    </button>
                </div>
            </div>
        </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    const stripe = Stripe('pk_test_518lozLLgBPNaPJ84NQPgM6uFxaGsrlhbznpikqxyw4Q92iBUSYdczk8W8SnZKftCwmVaHI5uN8LND1rCyimzYzDE00WhyBozvy')

    const checkoutBeers = async () => {
        try {
            const session = await axios.get('/checkout/payforbeer')
            console.log(session)
            await stripe.redirectToCheckout({
                sessionId: session.data.session.id
            })
        } catch (err) {
            console.log(err)
            alert("Something went wrong...please try again")
        }
    }


</script>
