<h1>Hi testing</h1>
<h1>Hi testing</h1>
<h1>Hi testing</h1>
<h1>Hi testing</h1>
<h1>Hi testing</h1>
<h1>Hi testing</h1>

<button id="{{beer_id}}" onClick="addOrRemoveWishlist(this.id)">Click me to send the data</button>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="./js/addOrRemoveWishlist.js"></script>