<section class="secondary">
    {{!--user ac dropdown bar start --}}
    <div class="dropdown text-center d-flex justify-content-center">
        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="myAC_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </button>
            <div class="dropdown-menu" aria-labelledby="myAC_dropdown" style="font-size: 20px">
                <a class="dropdown-item text-white" href="/user/profile">Account Details</a>
            </div>
        </div>
        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="myPurchase_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activity
            </button>
            <div class="dropdown-menu" aria-labelledby="myPurchase_dropdown" style="font-size: 20px">
                <a class="dropdown-item text-white" href="/user/purchase_history">Purchases</a>
                <a class="dropdown-item text-white" href="/user/wishlist">Wishlist</a>
                <a class="dropdown-item text-white" href="/user/comment">Comments</a> 
            </div>
        </div>
        <div class="dropdown p-2">
            <button class="btn btn-secondary btn-lg" type="button" id="discount" aria-haspopup="true"
                aria-expanded="false">
                <a class="text-white text-decoration-none" href="/user/discount">Discount Codes</a>
            </button>
        </div>
    </div>
    {{!-- end of user ac dropdown bar --}}
    
    <div class="col-6 offset-3 text-center">
        <div class="form-group row discountCodeContainer" style="font-size:24px;font-weight:700">My Discount Codes</div>
        <div class="border border-secondary rounded bg-warning">
            <div class="my-auto p-2" style="font-size: 30px">NOBEERNOLIFEx3</div>
        </div>
        <div class="border border-secondary rounded bg-warning">
            <div class="my-auto p-2" style="font-size: 30px"><del>NOPILSNERNOPARTYx5</del></div>
        </div>
    </div>
    </div>
</section>