<section class="secondary">

    {{!--user ac dropdown bar start --}}
    <div class="dropdown text-center d-flex justify-content-center">
        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="myAC_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </button>
            <div class="dropdown-menu" aria-labelledby="myAC_dropdown" style="font-size: 20px">
                <a class="dropdown-item text-white" href="/user/profile">Account Details</a>
            </div>
        </div>
        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="myPurchase_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activity
            </button>
            <div class="dropdown-menu" aria-labelledby="myPurchase_dropdown" style="font-size: 20px">
                <a class="dropdown-item text-white" href="/user/purchase_history">Purchases</a>
                <a class="dropdown-item text-white" href="/user/wishlist">Wishlist</a>
                <a class="dropdown-item text-white" href="/user/comment">Comments</a> 
            </div>
        </div>
        <div class="dropdown p-2">
            <button class="btn btn-secondary btn-lg" type="button" id="discount" aria-haspopup="true"
                aria-expanded="false">
                <a class="text-white text-decoration-none" href="/user/discount">Discount Codes</a>
            </button>
        </div>
    </div>
    {{!-- end of user ac dropdown bar --}}

{{!-- the start of bill --}}
    <div class="col-6 offset-3 text-center">
        <div class="form-group row discountCodeContainer" style="font-size:24px;font-weight:700">
            My Purchase History
        </div>
{{!-- {{#each bill}} --}}
        <div class="userInfoContainer border border-secondary rounded bg-light">
            <table class="table table-sm table-borderless table-hover">
                <thead>
                    <tr>
                        <th class="table-secondary border-right border-dark" scope="row">Date</th>
                        <td colspan="3">1st June 2020</td>
                    </tr>
                    <tr>
                        <th class="table-secondary border-bottom border-right border-dark" scope="row">Time</th>
                        <td colspan="3">14:00</td>
                    </tr>
                    <tr class="table-secondary">
                        <th class="border-bottom border-dark" scope="col">Item Name</th>
                        <th class="border-top border-bottom border-dark" scope="col">Cans</th>
                        <th class="border-top border-bottom border-dark" scope="col">Unit Px (HKD)</th>
                        <th class="border-top border-bottom border-dark" scope="col">Total Px (HKD)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Chris's Cracking Cask</td>
                        <td>2</td>
                        <td>20</td>
                        <td>40</td>
                    </tr>
                    <tr>
                        <td>Jacky's Jumping Juice</td>
                        <td>4</td>
                        <td>20</td>
                        <td>80</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="table-secondary border-top border-right border-dark" scope="row">Subtotal</th>
                        <td class="border-top border-dark" colspan="2"></td>
                        <td class="border-top border-dark">120</td>
                    </tr>
                    <tr>
                        <th class="table-secondary border-right border-dark" scope="row">Discount Applied</th>
                        <td colspan="2"></td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <th class="table-primary border-top border-bottom border-dark" scope="row">Total (HKD)</th>
                        <td class="table-primary border-top border-bottom border-dark" colspan="2"></td>
                        <td class=" table-primary border-top border-bottom border-dark">108</td>
                    </tr>
                    <tr>
                        <th class="table-secondary border-right border-dark" scope="row">Payment Status</th>
                        <td class="table-success border-bottom border-dark" colspan="3">Complete</td>
                    </tr>
                    <tr>
                        <th class="table-secondary border-bottom border-right border-dark" scope="row">Delivery
                            Status</th>
                        <td class="table-danger border-bottom border-dark" colspan="3">Pending</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        {{!-- {{/each}} --}}
        <br>
        <div class="userInfoContainer border border-secondary rounded bg-light">
            <table class="table table-sm table-borderless table-hover">
                <thead>
                    <tr>
                        <th class="table-secondary border-right border-dark" scope="row">Date</th>
                        <td colspan="3">8th May 2020</td>
                    </tr>
                    <tr>
                        <th class="table-secondary border-bottom border-right border-dark" scope="row">Time</th>
                        <td colspan="3">20:35</td>
                    </tr>
                    <tr class="table-secondary">
                        <th class="border-bottom border-dark" scope="col">Item Name</th>
                        <th class="border-top border-bottom border-dark" scope="col">Cans</th>
                        <th class="border-top border-bottom border-dark" scope="col">Unit Px (HKD)</th>
                        <th class="border-top border-bottom border-dark" scope="col">Total Px (HKD)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tom's Total Tipple</td>
                        <td>10</td>
                        <td>20</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>Jacky's Jumping Juice</td>
                        <td>1</td>
                        <td>20</td>
                        <td>20</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="table-secondary border-top border-right border-dark" scope="row">Subtotal</th>
                        <td class="border-top border-dark" colspan="2"></td>
                        <td class="border-top border-dark">220</td>
                    </tr>
                    <tr>
                        <th class="table-secondary border-right border-dark" scope="row">Discount Applied</th>
                        <td colspan="2"></td>
                        <td>0%</td>
                    </tr>
                    <tr>
                        <th class="table-primary border-top border-bottom border-dark" scope="row">Total (HKD)</th>
                        <td class="table-primary border-top border-bottom border-dark" colspan="2"></td>
                        <td class=" table-primary border-top border-bottom border-dark">220</td>
                    </tr>
                    <tr>
                        <th class="table-secondary border-right border-dark" scope="row">Payment Status</th>
                        <td class="table-success border-bottom border-dark" colspan="3">Complete</td>
                    </tr>
                    <tr>
                        <th class="table-secondary border-bottom border-right border-dark" scope="row">Delivery
                            Status</th>
                        <td class="table-success border-bottom border-dark" colspan="3">Complete</td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    </div>
</section>