
header{
    font-family: "MV Boli", "Comic Sans MS";
    background-color: rgb(31, 31, 36);
    font-weight: 700;
    color: white;
}



nav{
    font-family: "MV Boli","Comic Sans MS";
    background-color: rgb(31, 31, 36);
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.logo{
    width: 160px;
    height: 50px;
}


.navbar-toggler{
    color: white;
    border-color: white;
}

.dropdown-menu{
    font-family: "MV Boli","Comic Sans MS";
    background-color: rgb(31, 31, 36);
}

.dropdown-item:hover{
    font-family: "MV Boli", "Comic Sans MS";
    background-color: grey;
    color: white;
}


body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: "MV Boli","Comic Sans MS";
    font-weight: 600;
    line-height: 1.7;
}

footer {
    background-color: rgb(31, 31, 36);
    display: block;

}
.footer_co_policy a{
    color: white;
}

/* homepage modal */

.modal-header{
    color: #ffffff;
}
.modal_warning{
    background-image: url(../asset/warning.jpeg);
    background-position: left;
    opacity: 0.9;
}
.modal_text_warning{
    color: #CA3F41;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
/* end of homepage modal */
.secondary{
    margin: 60px;
    padding-top: 50px;
}
/* home page start */
.carousel__images{
    object-fit: contain;
}

/* .content-section {
    display: none;
  } */
/* end of home page */

.products__img{
    width: 200px;
}

/* product_detail page */

.product__carousel_outerbox{
    margin-top: 100px;
}




.btn {
    background-color: rgb(31, 31, 36);
}


.beerDetailButton {
    align-items: center;
}

.card-header {
    padding: 1rem;
    height: 150px;
    align-items: center;
}

#wish_btn1:hover{
    color: blue !important;
}


.list-group-item-action{
    background-color: rgb(31, 31, 36);
    color: white;
}

/* end of product_detail page */

/* animation for class */
.logo_jello{
    animation: jello;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    
}
/* above: navbar logo animated */
.beer_each{
    animation: fadeInLeft;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
/* above: homepage's beer list fade in from left */