
header{
    font-family: "MV Boli", "Comic Sans MS";
    background-color: rgb(31, 31, 36);
    font-weight: 700;
    color: white;
}
nav{
    font-family: "MV Boli", "Comic Sans MS";
    background-color: rgb(31, 31, 36);
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.logo{
    width: 160px;
    height: 50px;
}
.navbar-toggler-icon{
    color: white;
}

.navbar-toggler{
    color: white;
    border-color: white;
}

.dropdown-menu{
    font-family: "MV Boli", "Comic Sans MS";
    background-color: rgb(31, 31, 36);
}

.dropdown-item:hover{
    font-family: "MV Boli", "Comic Sans MS";
    background-color: grey;
    color: white;
}


body{
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    font-family: "MV Boli", "Comic Sans MS";
    font-weight: 600;
    line-height: 1.7;
}

footer {
    background-color: rgb(31, 31, 36);
    display: block;

}
.footer_co_policy a{
    color: white;
}

/* homepage_view's modal */

.modal-header{
    color: #ffffff;
}
.modal_warning{
    background-color: rgb(31, 31, 36);
    opacity: 0.9;
}
.modal_text_warning{
    color: #CA3F41;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
/* end of homepage_view's modal */
.secondary{
    margin: 60px;
    padding-top: 50px;
}

.homepage_beer{
    margin-top: 30px;
}
.secondary2{
    margin: 20px;
    padding-top: 50px;
}



/* home page start */
.carousel__images{
    object-fit: contain;
}


.products__img{
    width: 200px;
}

/* product_detail page */

.product__carousel_outerbox{
    margin-top: 100px;
}

/* end of homepage _view & logged_in */


/* .btn {
    background-color: rgb(31, 31, 36);
} */


.beerDetailButton {
    align-items: center;
}

.card-header {
    padding: 1rem;
    height: 150px;
    align-items: center;
}

#wish_btn1:hover{
    color: blue !important;
}
.list-group-item-action{
    background-color: rgb(31, 31, 36);
    color: white;
}
/* end of product_detail page */

/* promotion page  */
.promote_span1, .promote_span2{
    padding: 0 5px;
    border-radius: 10px;
    font-weight: bolder;
}

/* end of promotion page */


/* animations for classes */
.logo_jello{
    animation: jello;
    animation-duration: 1.2s;
    animation-iteration-count: 2;
    animation-delay: 5s;
    /* 5s after will have the second animation */
    
}
/* above: navbar logo animated */
.beer_each{
    animation: fadeInLeft;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
/* above: homepage's beer list fade in from left */

.promote_text_animate{
    animation: heartBeat;
    animation-duration: 2.5s;
    animation-iteration-count: 5;
    animation-delay: 2s;
}
/* above: company_promotion :h2 text's animation */