<section class="secondary">
    <div class="container">
        <div class="d-flex flex-column">
            <div class="row">
                <p class="text-left h2">Registered Address</p>
            </div>
            <br>
            <div class="d-inline-flex justify-content-start " id="registered_address">
                <i class="fas fa-2x fa-arrow-circle-right my-auto pt-1"></i>
                <input class="form-control" type="text" placeholder="RM 1,2/F,THIRD ST., FOURTH ROOM COUNTY, HKI"
                    readonly>
            </div>
            <br>
            <div class="row">
                <p class="text-left h3 font-weight-light">Add new address</p>
            </div>
            <div class="d-inline-flex justify-content-start " id="registered_address">
                <i class="fa-2x far fa-plus-square my-auto pt-1"></i>


                <div class="my-auto ">
                    <fieldset disabled>
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="">
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container pb-5"> <a href="/myCart_payment"
        class="text-white btn-lg btn-primary btn-block text-center rounded" type="button">Proceed to Payment
    </a></div>